.navbar {
  text-align: center;
  color: white !important;
  background-color: #136AC7 !important;
}

.barra {
  text-align: center;
  color: white !important;
  background-color: #136AC7 !important;
}

.barra a {
  color: white !important;
}

.boton {
  background-color: #6FD973 !important;
}

.caja-nav {
  margin-top: 1px;
  padding: 50px;
  color: grey;
  text-align: center;
  font-size: 2em;
}

.notify {
  color: black !important;
  background-color: yellow;
}

.caja-nav:hover {
  color: black;
  background: lightgrey;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
}

.caja-nav a:hover {
  text-decoration: none !important;
}

.dropdown-menu {
  background-color: #136AC7;
  color: black;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.container {
  padding: 2px 16px;
}

.slogan {
  text-align: center !important;
  color: grey !important;
  -webkit-transition: 1s;
  transition: 1s;
}

