.navbar {
  text-align: center;
  color: white !important;
  background-color: #136AC7 !important;
}

.barra {
  text-align: center;
  color: white !important;
  background-color: #136AC7 !important;
}

.barra a {
  color: white !important;
}

.boton {
  background-color: #6FD973 !important;
}

.caja-nav {
  margin-top: 1px;
  padding: 50px;
  background-color: #94D992;
  color: white;
  text-align: center;
  font-size: 2em;
}

.dropdown-menu {
  background-color: #136AC7;
  color: black;
}

